*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{ 
    color:white;
    background-color: black;
}


a{
    color: white;
    text-decoration: none;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#main-container h1{
    font-weight: 200;
    text-align: center;
    font-size: 25px;
    margin-bottom: 3px;
}

#main-container p{
    font-weight: 200;
    text-align: center;
    font-size: 10px;
    margin-bottom: 25px;
}

#main-container button{
    color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    margin: 7px;
    background-color: black;
}

#main-container button:hover{
    color:black;
    background-color: white;
}

.social-media{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

